.mainContainer {
    display: flex;
    justify-content: space-around;
    background-color: #f9f9f9;
    align-self: stretch;
    padding: 140px;
}

.paperBlock {
    width: 400px;
    background-color: #fff;
    padding: 40px;
}

@media screen and (max-width: 1200px) {
    .mainContainer {
        padding: 40px;
    }
}

@media screen and (max-width: 750px) {
    .mainContainer {
        padding: 40px;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 520px) {
    .mainContainer {
        padding: 0px;
        flex-direction: column;
        align-items: center;
    }
    .paperBlock{
        margin-top: 10px;
        width: 300px;
        padding: 20px;
    }
}